$navHeight: 80px;

.header {
  background: #51bccc;

  & nav {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    width: 100%;
    height: $navHeight;

    background: #51bccc;
  }
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 0;

  color: $white;
  list-style: none;

  & li {
    padding: 10px 40px;
    font-size: $fontSize;
    line-height: 130%;
    letter-spacing: 0.17px;
  }
}

.text {
  padding: 185px 0 105px;
  color: $white;
  text-align: center;
}

.ref {
  position: relative;
  top: -$navHeight;
}

@media (width < 1280px) {
  .items li {
    padding: 10px 20px;
  }
}
