$navHeight: 80px;

.header {
  background: #51bccc;

  & nav {
    background: #51bccc;
    height: $navHeight;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
}

.items {
  align-items: center;
  color: $white;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 20px 0;

  & li {
    font-size: $fontSize;
    letter-spacing: 0.17px;
    line-height: 130%;
    padding: 10px 40px;
  }
}

.text {
  color: $white;
  padding: 185px 0 105px;
  text-align: center;
}

.ref {
  position: relative;
  top: -$navHeight;
}

@media (width < 1280px) {
  .items li {
    padding: 10px 20px;
  }
}
