.image {
  position: relative;
  width: 350px;
  height: 280px;
  margin: -70px 0 0 -70px;

  & img {
    object-fit: cover;
    border-radius: 90px 160px 160px 90px;
  }
}

.item {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 308px 1fr;

  margin: 80px 0;
  padding: 40px;

  text-align: center;

  border: 1px solid rgba($sand, 0.5);
  border-radius: 80px 160px 160px 80px;

  &.variant-right {
    grid-template-columns: 1fr 308px;
    border-radius: 160px 80px 80px 160px;

    & .text {
      order: 1;
    }

    & .image {
      order: 2;
      margin: -70px 0 0 30px;

      & img {
        border-radius: 160px 90px 90px 160px;
      }
    }

    & .btn {
      order: 3;
    }

    & .price {
      order: 4;
    }
  }
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 26px;
  line-height: 130%;
  color: $dark;
  letter-spacing: 0.52px;
}

.title {
  font-size: 34px;
  font-weight: 600;
  line-height: 120%;
  color: $dark;
  text-align: center;
  letter-spacing: 0.51px;
}

.text {
  padding: 20px 0;
  line-height: 130%;
  text-align: left;
}

.location {
  display: flex;

  margin: 0 0 40px;

  font-weight: 200;
  font-style: italic;
  line-height: 130%;
  letter-spacing: 0.17px;

  & span {
    margin: 0 5px 0 0;
  }

  & img {
    margin: 0 5px 0 0;
  }
}

.btn {
  text-align: center;
}

@media (hover: hover) and (pointer: fine) {
  .location {
    & a:hover {
      color: $blue;
    }
  }
}

@media (width <= 1700px) {
  .item {
    grid-gap: 0;
    grid-template-columns: 1fr 1fr;
    border-radius: 80px 120px 120px 80px;

    &.variant-right {
      grid-template-columns: 1fr 1fr;
      border-radius: 120px 80px 80px 120px;

      & .image {
        margin: -70px 0 0 70px;
      }

      & .content,
      & .btn,
      & .price {
        margin: 0 -50px 0 0;
      }
    }
  }

  .title {
    font-size: 24px;
  }

  .text,
  .location {
    font-size: 15px;
  }

  .price {
    font-size: 20px;
  }

  .image {
    width: 100%;
  }

  .content,
  .btn,
  .price {
    margin: 0 0 0 -50px;
  }
}

@media (width < 1024px) {
  .item {
    display: block;
    padding: 20px 20px 40px;

    &.variant-right {
      & .image {
        margin: -70px 0 20px;
      }

      & .content {
        margin: 0;
      }

      & .price {
        margin: 0 0 20px;
      }

      & .btn {
        margin: 0 30px;

        & button {
          width: 100%;
        }
      }
    }
  }

  .image {
    margin: -70px 0 20px;
  }

  .content {
    margin: 0;
  }

  .location {
    margin: 0 0 30px;
  }

  .price {
    margin: 0 0 20px;
  }

  .btn {
    margin: 0 30px;

    & button {
      width: 100%;
    }
  }
}
