@import "variables.scss";

:export {
  white: $white;
  dark: $dark;
  purple: $purple;
  darkPurple: $darkPurple;
  blue: $blue;
  darkBlue: $darkBlue;
  lightBlue: $lightBlue;
  sand: $sand;
  star: $star;
  grey: $grey;
  fontSize: $fontSize;
}
