@import "variables";

:export {
  blue: $blue;
  dark: $dark;
  darkBlue: $darkBlue;
  darkPurple: $darkPurple;
  fontSize: $fontSize;
  grey: $grey;
  grey: $darkGrey;
  lightBlue: $lightBlue;
  purple: $purple;
  sand: $sand;
  star: $star;
  white: $white;
}
