$white: #fff;
$dark: #573104;
$purple: #c54e9d;
$darkPurple: #a1357d;
$blue: #0049aa;
$darkBlue: #2b7982;
$lightBlue: #4ebbc5;
$sand: #c5b14e;
$star: #f6ee2e;
$grey: #d3d3d3;
$darkGrey: #a2a2a2;
$fontSize: 17px;
