.items {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.image {
  & img {
    border-radius: 80px;
  }
}

.date {
  padding-bottom: 10px;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
  color: $darkGrey;
  letter-spacing: 0.14px;
}

@media (width < 1024px) {
  .items {
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
}
