.excursionsFormChip {
  margin-right: 10px;
  margin-bottom: 10px;

  &:global.MuiChip-root {
    height: auto;
    color: $sand;
    background: #fffcef;
    border-color: rgba($sand, 0.5);

    &.MuiChip-clickable:hover {
      background-color: $white;
    }
  }

  & :global {
    & .MuiChip-label {
      padding: 4px 20px;
      font-size: 12px;
    }

    & .MuiChip-deleteIcon {
      margin-right: 10px;
    }
  }
}
