.items {
  display: flex;
  flex-wrap: wrap;
  margin: -40px;

  & > div {
    padding: 40px;
  }

  & :global {
    & .image {
      width: 40%;

      & img {
        border-radius: 160px 80px 80px 160px;
      }

      & + .image {
        & img {
          border-radius: 80px 160px 160px 80px;
        }
      }
    }

    & .richText {
      width: 60%;

      &:last-child {
        width: 100%;
      }
    }
  }
}

@media (width < 1280px) {
  .items {
    margin: -20px;

    & > div {
      padding: 20px;
    }

    & :global {
      & .image {
        width: 50%;
      }

      & .richText {
        width: 100%;
      }
    }
  }
}

@media (width < 1024px) {
  .items {
    & :global {
      & .image {
        & img {
          border-radius: 80px;
        }

        & + .image {
          & img {
            border-radius: 80px;
          }
        }
      }
    }
  }
}

@media (width < 768px) {
  .items {
    & :global {
      & .image {
        width: 100%;
      }
    }
  }
}
