.excursionFormMapSvg {
  width: 70%;
  height: auto;

  & path {
    opacity: 0.3;
    transition: all ease-out 0.2s;
  }

  & .city {
    fill: $white;
  }

  & .cityName {
    opacity: 1;
  }

  & .cityActive {
    opacity: 0.6;
    fill: rgba($sand, 0.16);
  }

  & .regionEmpty {
    & path {
      opacity: 0.2;
    }
  }
}

@media (width < 1024px) {
  .excursionFormMapSvg {
    width: 100%;
  }
}
