.excursionsFormFilters {
  position: relative;
  min-height: 360px;
}

.excursionsFormMap {
  position: absolute;
  z-index: -1;
  bottom: -114%;
  left: 0;

  width: 100%;

  text-align: right;

  transition: all ease-out 0.2s;
}

.excursionsFormItem {
  width: 100%;

  & :global {
    & .MuiFormControl-root {
      width: 100%;
      margin: 0;
    }

    & .MuiOutlinedInput-notchedOutline {
      border-color: rgba($sand, 0.5);
    }

    & .Mui-focused,
    & .MuiOutlinedInput-root:hover {
      & .MuiOutlinedInput-notchedOutline {
        border-color: $sand;
        border-width: 1px;
      }
    }

    & .MuiSelect-select.MuiSelect-multiple {
      padding-right: 45px;
    }

    & .MuiSlider-root {
      width: auto;
      margin: 10px 20px;
      color: $sand;

      & .MuiSlider-thumb {
        &::before {
          content: none;
        }

        &:hover,
        &.Mui-focusVisible,
        &.Mui-active {
          box-shadow: 0 0 0 8px rgba($sand, 0.16);
        }
      }
    }

    & .MuiSlider-markLabel {
      font-size: 12px;

      &[data-index="0"] {
        transform: translateX(0%);
      }

      &[data-index="2"] {
        transform: translateX(-100%);
      }
    }
  }
}

.excursionsFormItemsSelects {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  margin: 0 -10px 20px;
  text-align: left;

  & .excursionsFormItem {
    width: auto;
    margin: 0 10px;
  }
}

.excursionsFormItemsSliders {
  display: flex;
  width: auto;
  margin: 0 0 50px;
  text-align: left;

  & .excursionsFormItem {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 400px;
    margin-right: 20px;
  }
}

.excursionsFormSelect {
  font-size: 14px;
  background: $white;

  & :global {
    & .MuiSvgIcon-root {
      top: auto;
      right: 20px;
      bottom: auto;

      width: 24px;
      height: 24px;

      color: transparent;

      &.MuiSelect-iconOpen {
        color: $purple;
      }
    }
  }
}

.excursionsFormBtn {
  grid-column: 3/6;
  grid-row: 2/2;
  align-self: self-end;
  text-align: right;
}

.excursionsFormLabel {
  user-select: none;

  padding: 12px 20px;

  font-size: $fontSize;
  font-weight: 700;
  font-style: normal;
  line-height: 130%;
}

.excursionsFormCheckbox {
  & svg {
    font-size: 24px;
    border-radius: 20px;
    fill: $sand;
  }
}

.excursionsFormChips {
  padding-bottom: 130px;

  & :global {
    & .MuiFormControl-root {
      display: inline;
    }
  }
}

.excursionsFormReset {
  display: inline-block;

  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
  vertical-align: top;

  & :global {
    & .MuiLink-root {
      display: flex;
      align-items: center;

      padding: 3px 10px;

      color: $sand;
      text-decoration-color: transparent;

      border: none;

      & img {
        margin: 0 0 0 10px;
      }
    }
  }
}

.excursionsFormResult {
  position: relative;
  min-height: 500px;
}

@media (width <= 1700px) {
  .excursionsFormMap {
    bottom: -94%;
  }
}

@media (width < 1280px) {
  .excursionsFormItemsSelects {
    grid-template-columns: repeat(3, 33.33%);
  }

  .excursionsFormMap {
    bottom: -60%;
  }
}

@media (width < 1024px) {
  .excursionsFormMap {
    display: none;
  }

  .excursionsFormChips {
    padding-bottom: 30px;
  }

  .excursionsFormFilters {
    min-height: auto;
  }
}

@media (width < 768px) {
  .excursionsFormItemsSelects {
    grid-template-columns: 1fr;
  }

  .excursionsFormSelect {
    font-size: 12px;

    & :global {
      & .MuiSvgIcon-root {
        right: 10px;
        width: 20px;
        height: 20px;
      }
    }
  }

  .excursionsFormLabel {
    padding: 8px 10px;
    font-size: 13px;
  }

  .excursionsFormItem {
    & :global {
      & .MuiOutlinedInput-input {
        padding: 8px 10px;
      }

      & .MuiSelect-select.MuiSelect-multiple {
        padding-right: 35px;
      }

      & .MuiSlider-root {
        margin: 4px 20px 30px;
      }

      & .MuiSlider-markLabel {
        &[data-index="0"] {
          transform: translateX(-50%);
        }

        &[data-index="2"] {
          transform: translateX(-50%);
        }
      }
    }
  }

  .excursionsFormItemsSliders {
    display: block;
    margin: 0 0 30px;

    & .excursionsFormItem {
      grid-template-columns: 100px 1fr;
      margin-right: 0;
    }
  }
}
