.btn {
  cursor: pointer;

  width: 250px;
  padding: 13px 20px;

  font-size: $fontSize;
  line-height: 130%;
  color: $white;
  letter-spacing: 0.17px;

  background: $lightBlue;
  border: none;
  border-radius: 20px;

  transition: all ease-out 0.2s;

  &:active {
    background: $sand;
  }

  &.purple {
    background: $purple;
  }

  &.lightBlue {
    background: $lightBlue;
  }
}

@media (hover: hover) and (pointer: fine) {
  .btn {
    &.lightBlue:hover {
      background: $darkBlue;
    }

    &.purple:hover {
      background: $darkPurple;
    }
  }
}
