.btn {
  background: $lightBlue;
  border: none;
  border-radius: 20px;
  color: $white;
  cursor: pointer;
  font-size: $fontSize;
  letter-spacing: 0.17px;
  line-height: 130%;
  padding: 13px 20px;
  width: 250px;

  &:active {
    background: $sand;
  }

  &.purple {
    background: $purple;
  }

  &.lightBlue {
    background: $lightBlue;
  }
}

@media (hover: hover) and (pointer: fine) {
  .btn {
    &.lightBlue:hover {
      background: $darkBlue;
    }

    &.purple:hover {
      background: $darkPurple;
    }
  }
}
