.news {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: 2fr 1fr;
  margin: 0 0 80px;
}

.items {
  position: relative;

  &:first-child::after {
    content: "";

    position: absolute;
    top: 0;
    right: -40px;

    width: 1px;
    height: 100%;

    opacity: 0.5;
    background: $sand;
  }
}

@media (width < 1024px) {
  .news {
    grid-gap: 0;
    grid-template-columns: 1fr;
  }

  .items {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;

    &:first-child::after {
      content: none;
    }
  }
}

@media (width < 768px) {
  .items {
    display: block;
  }
}
