.richText {
  & p {
    margin: 20px 0;
    line-height: 140%;
  }

  & h2 {
    padding: 0;

    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.42px;
  }
}
