.slick-prev.prevArrow,
.slick-next.nextArrow {
  z-index: 9;
  top: auto;
  bottom: -85px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  background: $purple;
  border-radius: 80px 160px 160px 80px;
}

.slick-prev.prevArrow {
  left: 50%;
  margin-left: -120px;
  border-radius: 160px 80px 80px 160px;
}

.slick-next.nextArrow {
  right: 50%;
  margin-right: -120px;
}

.slick-prev.prevArrow img {
  transform: scaleX(-1);
}

.slick-prev.prevArrow::before,
.slick-next.nextArrow::before {
  content: none;
}

.slick-prev.prevArrow:focus,
.slick-next.nextArrow:focus {
  background: $lightBlue;
}

@media (hover: hover) and (pointer: fine) {
  .slick-prev.prevArrow:hover,
  .slick-next.nextArrow:hover {
    background: $lightBlue;
  }
}
