.footer {
  flex: 0 0 auto;
  background: $darkBlue;
  position: relative;
}

.nav {
  display: flex;
  justify-content: center;
}

.items {
  padding: 20px;
  color: $white;
  list-style: none;

  & a {
    padding: 5px 20px;
    font-size: 13px;
    line-height: 130%;
    letter-spacing: 0.17px;
    display: block;
    margin: 10px 20px;
  }
}

@media (width < 768px) {
  .items {
    padding: 27px 0;
  }
}
