.news-item {
  transform: scale(0.8);
  transition: transform ease-out 0.5s;
}

.news-text {
  opacity: 0;
  transition: opacity ease-out 0.2s;
}

.slick-center {
  & .news-item {
    transform: none;
  }

  & .news-text {
    opacity: 1;
  }
}

.slick-slide {
  & img {
    width: 100%;
    height: auto;
    transition: all ease-out 0.2s;
  }
}
