.link {
  display: block;
}

.image {
  position: relative;
  overflow: hidden;
  border-radius: 80px;

  & img {
    object-fit: cover;
    border-radius: 80px;
    transition: all ease-out 0.2s;
  }
}

.content {
  position: relative;
}

.date {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
  color: $darkGrey;
  letter-spacing: 0.14px;
}

.title {
  padding: 10px 0 20px;
  font-style: normal;
  line-height: 130%;
}

.text {
  font-size: $fontSize;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.17px;
}

.big {
  display: block;

  .image {
    height: 500px;
  }

  .content {
    margin: -100px 100px 80px;
    padding: 40px 40px 60px;
    background: $white;
    border-radius: 80px;
  }

  .title {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.42px;
  }
}

.small {
  display: block;

  .image {
    height: 260px;
  }

  .content {
    margin: 0 0 50px;
    padding: 20px;
  }

  .title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.24px;
  }
}

@media (width < 1024px) {
  .big,
  .small {
    .image {
      height: 260px;
    }

    .content {
      margin: 0 0 50px;
      padding: 20px;
      background: transparent;
      border-radius: 0;
    }

    .title {
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.24px;
    }

    .text {
      font-size: 15px;
    }
  }

  .big:last-child,
  .small:last-child {
    grid-column: 1 / span 2;
  }
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    & .image {
      & img {
        transform: scale(1.07);
      }
    }
  }
}
