.reviews {
  margin-bottom: 150px;
}

.content {
  border: 0.5px solid $sand;
  border-radius: 30px 80px;
  margin: 40px 20px;
  max-width: 700px;
  padding: 40px;
}

.title {
  font-size: 17px;
  font-weight: 700;
  line-height: 130%;
}

.text {
  letter-spacing: 0.17px;
  line-height: 130%;
  padding: 20px 0;
}

.inform {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.info {
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 130%;
}

.stars {
  background: repeat-x url("/star.svg");
  height: 25px;
  width: 125px;
}

.reviewsSlider {
  margin: -20px -120px 120px;
}

@media (width <= 768px) {
  .reviewsSlider {
    margin: -20px 0 120px;
  }

  .content {
    margin: 40px 0;
  }
}
