.offer {
  margin: 200px 0;
}

.title {
  font-size: 24px;
  letter-spacing: 0.24px;
  line-height: 130%;
  margin: 0 0 20px;
}

.form {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  max-width: 1020px;
}

.content {
  padding: 64px;
  position: relative;
  text-align: center;

  & > div {
    position: relative;
  }

  &::before {
    border: 1px solid rgba($sand, 0.5);
    border-radius: 80px 160px 160px 80px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(-14.63deg);
    width: 100%;
  }
}

.image {
  max-width: 475px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;

  & img {
    border-radius: 160px 80px 80px 160px;
  }
}

.elements {
  margin: 0 auto;
  max-width: 250px;
}

@media (width <= 1024px) {
  .offer {
    margin: 100px 0;
  }

  .image {
    & img {
      height: auto;
      width: 100%;
    }
  }

  .content {
    padding: 64px 20px;
  }
}

@media (width < 768px) {
  .form {
    display: block;
  }

  .image {
    margin-bottom: -20px;
    padding-bottom: 0;
  }
}
