.accordion {
  display: grid;
  grid-gap: 200px;
  grid-template-columns: 1fr 1fr;
}

.item {
  overflow: hidden;
  border-bottom: 1px solid rgba($sand, 0.5);

  & svg {
    min-width: 24px;
    margin: 0 0 0 20px;
  }
}

.question {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 14px 0;

  font-size: $fontSize;
  line-height: 130%;
  letter-spacing: 0.17px;
}

.answer {
  font-size: $fontSize;
  line-height: 0;
  letter-spacing: 0.17px;
}

.itemActive {
  border-color: $purple;

  & svg {
    transform: rotate(180deg);
    fill: $purple;
  }

  & path {
    stroke: $purple;
  }
}

@media (width <= 1700px) {
  .accordion {
    grid-gap: 100px;
  }

  .question,
  .answer {
    font-size: 15px;
  }
}

@media (width <= 1024px) {
  .accordion {
    display: block;
  }

  .item {
    margin: 0;
  }
}
